
.futer{
	
    position: fixed;
    height: 50px;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

}
.navbar-light .navbar-brand {
    color: #02240b;
    transition: 0.5s;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000802;
}
.navbar-light .navbar-nav .nav-link {
    color: #02240b;
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000802;
}
.navbar{
	
	transition: 0.5s;
	opacity: 0.8;

}
.navbar:hover{
	opacity: 1;
}
.loginError{
	background-color:red;
}
a{
	text-decoration:none;
}